body{
  margin: 0;
  padding: 0;
}
.app_navbar{
  background-color: #742722;
  height: 9vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;

}
.app_heading{
  font-size: 25px;
}
.navbar_left{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vw;
  color:white;
}
.navabar_img{
  object-fit: contain;
  margin-right: 2vw;
  height: 70px !important;
  width: 70px !important;
  border-radius: 100% !important;
}
.navbar_right{
  display: flex !important;
  color: white !important;
}
.right_items{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw !important;
  font-size: 20px;
}
.admin_button{
  background-color: #f5d6b3;
  padding: 10px;
  color: black;
  outline: none;
  border-radius: 30px;
  font-size: 17px;
}
.app_footer{
  background-color: black;
  color: white;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}